*{
    margin:0;
    padding: 0;
}

body{
    background-color: #1F3A8A;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;

      
  
}

.container {
    height: 70vh;
    width:70vmin;
 

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap : wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
   height: 18vmin;
   width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem black;
   font-size: 8vmin;
   background-color: white;
   color: black;
}
.reset-btn {
    padding: .7rem 2rem;
    background:black;
    color:white;
    border-radius:.5rem;
    cursor:pointer;
    margin-top:2rem;
  }
  .reset-btn:hover{
    opacity:.8;
  }